.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
        
}

.logo__img{
    width: 10rem;
}

.pesquisa__input{
    font-size: 1rem;
    width: 37rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: aliceblue;
}