<p-toolbar [style]="{ padding: '1rem 1rem 1rem 1.5rem' }" id="app-cabecalho">
  <ng-template #start>
    <a [routerLink]="['']">
      <img
        class="logo__img"
        src="https://imgs.search.brave.com/9k-rGdHZWtzCsgJc6T7FpfHN7p1HWX59WeTvxJ1Jo08/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy90/aHVtYi80LzQ3L1Bp/cmF0ZV9GbGFnX29m/X0phY2tfUmFja2hh/bS5zdmcvNjQwcHgt/UGlyYXRlX0ZsYWdf/b2ZfSmFja19SYWNr/aGFtLnN2Zy5wbmc"
        alt=""
      />
    </a>
  </ng-template>
  <ng-template #center>
    <input
      class="input"
      pInputText
      [(ngModel)]="pesquisa"
      (input)="handlePesquisas()"
      placeholder="pesquisa"
      type="text"
    />
  </ng-template>
  <ng-template #end> </ng-template>
</p-toolbar>

@if (isVisible && filmsPesquisado.length > 0) {
<app-list-filmes
  [listFilms]="filmsPesquisado"
  [titulo]="'Resultados da Pesquisa'"
  [customListStyles]="{ 'flex-wrap': 'wrap' }"
  (filmClick)="serviceFilme.updateQuote(false)"
></app-list-filmes>
}
