.card__flex {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  height: 46rem;
  align-items: center;
}

.info__film {
  color: rgb(255, 255, 255);
  width: 40%;
  text-align: start;
  background-color: rgba(12, 12, 12, 0.7);
  margin-bottom: 8rem;
  padding-left: 1rem;
}

.font {
  font-size: 1rem;
}

@media (max-width:360px){
  
  .card__flex {
    height: 30rem;
    column-gap: 1px;

    margin-top: 1rem;

    margin-bottom: 10rem;

  }
  
  .info__film {
    margin-top: 10rem;
    color: rgb(255, 255, 255);
    text-align: start;
    background-color: rgba(12, 12, 12, 0.7);
    padding-left: 1rem;
  }
  
  .font__title {
    font-size: 10px;
  }

  .font {
    font-size: 10px;
    max-height: 15rem; 
    overflow: scroll; 
  }
  .font::-webkit-scrollbar {
    width: 0px;
  }

}