.banner {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

.banner img {
  width: 20rem;
  transition: 0.45s ease;
}

.banner img:hover {
  transform: scale(1.15);
}

@media (max-width:360px){

  .banner img {
    width: 10rem;
  }

  .banner img:hover {
    transform:none;
  }

}