.card__flex {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 1;
    padding-right: 1rem;
    padding-top: 1rem;
  }
  
  .card__flex::-webkit-scrollbar {
    width: 0px;
  }

  h1{
  color: aliceblue;
  padding-left: 1rem;
  }
  
  .p-carousel-next-button	{
    display: none;
    text-decoration: none;
    
  }
  

