/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);

}
body{
    padding-left: 1rem;
    padding-right: 1rem;
}

